# Ignore all files without extensions
# *
# !*.*
# !*/

# Ignore ranger-devicons plugin and lazy.nvim lock file
ranger/plugins/ranger_devicons
ranger/plugins/__pycache__
nvim/lazy-lock.json

# Ignore the plugins directory and history in zsh
zsh/.plugins
zsh/.compinit-dump
zsh/.zcalc_history
zsh/.zsh-history

# Ignore the conf aliases (different from system to system)
zsh/conf-aliases.zsh
