/* 
 * Source: u/Bali10050
 * https://pastebin.com/Wkeb6Njf 
 * Modified by u/Kasetonix
*/

:root:-moz-window-inactive{--bgcolor: #262b32;}
:root {
    --bgcolor: #262b32;
    --bbcolor: #31343f;
    --stcolor: #31343f;
    --prcolor: #56b6c2;
    --hpcolor: #56b6c2;
    --ndcolor: #31343f;
    --tpcolor: #abb2bf;
    --tscolor: #abb2bf;
    --ttcolor: #abb2bf;

    --in-content-page-background: var(--bgcolor)!important;
    --in-content-box-background: var(--bbcolor)!important;
    --in-content-button-border-color: var(--stcolor)!important;
    --in-content-box-background-odd: var(--bgcolor)!important;
    --in-content-button-background: var(--bbcolor)!important;
    --in-content-button-background-hover: var(--stcolor)!important;
    --in-content-button-border-color: var(--bgcolor)!important;
    --checkbox-checked-bgcolor: var(--prcolor)!important;
    --checkbox-checked-hover-bgcolor: var(--hpcolor)!important;
    --in-content-accent-color: var(--prcolor)!important;
    --in-content-button-background-active: var(--ndcolor)!important;
    --in-content-primary-button-background: var(--ndcolor)!important;
    --in-content-primary-button-text-color: var(--tpcolor)!important;
    --in-content-table-background: var(--bgcolor)!important;
    --in-content-link-color: var(--hpcolor)!important;
    --in-content-link-color-hover: var(--hpcolor)!important;
    --link-color-hover: var(--hpcolor)!important;
    --link-color: var(--hpcolor)!important;
    --in-content-background-color: var(--bgcolor)!important;
    --box-background: var(--stcolor)!important;
    --card-background-color: var(--stcolor)!important;
    --in-content-table-header-color: var(--tpcolor)!important;
    --moz-dialog: var(--bgcolor)!important;
    --in-content-text-color: var(--tpcolor)!important;
    --in-content-page-color: var(--tpcolor)!important;
    --in-content-deemphasized-text: var(--tscolor)!important;
    --in-content-border-color: var(--ttcolor)!important;
    --in-content-button-border-color-hover: var(--ndcolor)!important;
    --checkbox-unchecked-bgcolor: var(--bbcolor)!important;
    --in-content-focus-outline-width: 0px!important;
    --in-content-primary-button-border-color: var(--stcolor)!important;
    --in-content-primary-button-background-hover: var(--prcolor)!important;
    --in-content-primary-button-background: var(--prcolor)!important;
    --in-content-primary-button-background-hover: var(--hpcolor)!important;
    --in-content-primary-button-border-color: transparent!important;
    --in-content-box-info-background: var(--bbcolor)!important;
    --message-bar-text-color: var(--bbcolor) !important;
    --bg-image: url("bg.png") !important;
    --bg-size: cover !important;
}

@-moz-document url-prefix(about:){
    body                                { background-color: var(--bgcolor) !important; }
    body,html                           { overflow-y: auto !important; }
    .selector                           { background-color: var(--ndcolor) !important; border: var(--ndcolor) !important; }
    .rich-icon, .tile, .top-site-icon   { background-color: var(--ndcolor) !important; }
    .section input:checked+.slider      { --newtab-primary-action-background: var(--prcolor) !important; }
    .customize-menu                     { border-radius: 5px !important; }
    .customize-menu .close-button       { border-color: var(--stcolor)  !important; }
    .customize-menu .close-button:hover { background-color: var(--ndcolor) !important; border-color: var(--ndcolor) !important; }
    #sponsored-shortcuts                { background-color: var(--prcolor) !important; }
    #newtab-personalize-icon-label      { color: var(--hpcolor )!important; }
    #customization-panelWrapper         { max-width: 30em !important; }

    .customize-animate-enter-done,
    .customize-menu,
    .top-site-outer:hover,
    button { background-color: var(--stcolor)!important }
}

.category-button:not(:hover) { background-color: var(--bgcolor) }

@-moz-document url-prefix(about:addons) {
    .category:not(:hover) { background-color: var(--bgcolor) !important; }
}

@-moz-document url-prefix(about:devtools) {
    #toolbox-container { margin-top: 10px !important; }
    .devtools-tabbar   { background: transparent !important }
    .devtools-tab-line { border-radius: 0 0 5px 5px }

    .customize-animate-enter-done, 
    .customize-menu,
    .top-site-outer:hover,
    button { background-color: transparent !important }
}

@-moz-document url("about:home"),
url("about:newtab") {
    /* Search bar setup */

    /*
    .search-wrapper .search-handoff-button {
        font-family: JetBrainsMono Nerd Font !important 
    }

    .search-wrapper .search-handoff-button .fake-caret {
        top: 13px !important;
        inset-inline-start: 48px !important;
    }

    .search-wrapper .logo-and-wordmark {
        opacity: 0.9 !important;
        order: 1 !important;
        margin-bottom: 0 !important;
        flex: 1 !important;
        flex-basis: 20% !important;
    }

    .outer-wrapper .search-wrapper {
        padding: 0px !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: space-around !important;
        gap: 20px 10px !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
        background-size: 60px !important;
        height: 60px !important;
        width: 60px !important;
    }

    .search-wrapper .search-inner-wrapper {
        min-height: 42px !important;
        order: 2 !important;
        flex: 3 !important;
        flex-basis: 60% !important;
        top: 4px !important;
    }

    .info { display: none !important; }
    #root > div { align-items: center; display: flex }

    .outer-wrapper.ds-outer-wrapper-breakpoint-override.only-search.visible-logo {
        display: flex !important; 
        padding-top: 0px !important;
        vertical-align: middle;
    }
    */

    /* Blank setup */
    .search-wrapper .search-handoff-button { display: none !important; }
    .search-wrapper .logo-and-wordmark { display: none !important; }
    .personalize-button { display: none !important; }

    /* html { filter: blur(5px) !important; } */
    body { 
        background: url("bg.png") !important;
        background-size: cover !important;
    }
}

@-moz-document url("about:privatebrowsing") {
    .search-inner-wrapper { display: none !important; } 
    .wordmark             { display: none !important; }
    .icon                 { display: none !important; }
    .search-wrapper 
    .logo-and-wordmark    { display: none !important; }
    .logo                 { display: none !important; }
    .outer-wrapper        { display: none !important; }
    .info                 { display: none !important; }
    body { 
        /* filter: blur(5px) !important; */
        background: url("bg.png") !important; 
        background-size: cover !important;
    }
}

@-moz-document url("about:blank") {
    :root { --in-content-page-background: #262b32 !important; }
}
